.weui_cell:before {
    left:0px !important;
}

.moments__post .weui_cell_bd .thumbnails .thumbnail {
    width: 30%;

}

.weui-label-s {
    padding-left: 4px !important;
    padding-right: 4px !important;
    font-size: 12px;
    line-height: 14px;
    height: 150%;
    margin-top: 2px;
    padding-top:  2px!important;
    padding-bottom: 2px!important;
    margin-left: 4px !important;
}

.weui_cells{
    /*margin-top:0px !important;*/
    font-size: 14px !important;
}

#sendMsg .weui_cells{
    margin-top:0px !important;
    /*font-size: 14px !important;*/
}

.weui_cell{
    /*align-items: flex-start !important;*/
}

.actionToggle{
    padding: 2px;
}
.actionToggle .icon{
    color: white;
}


.weui-comment-item {
    margin-top: 4px;
    font-size: 14px;
}
.actionMenu{
    right: 25px;
}
.weui_navbar {
    z-index: 9;
}

.paragraphExtender{
    user-select:none !important;
}
div {
    -moz-user-select:none;
    -webkit-user-select:none;
    user-select:none;
}
.weui-rater a:hover {
     color: #ccc;
}




.title_icon img{
    width: 24px;
    margin-top: -4px;
}

.weui_navbar_item{
    font-size: 12px;

}

/*主按钮颜色*/
.weui_btn_primary {
    background-color: #61CBCB;
    font-size: 16px;
}

.weui-header-title{
    font-size: 16px!important;
}
.weui_btn.weui_btn_mini {
    border-radius: 18px!important;
}

.weui_btn_warn {
    background-color: #FF6E6C!important;
}

.weui_btn:after {
    border:none;
}

.paragraphExtender {
    background-color: #61CBCB!important;
    border: 1px solid #35BDB8;
    padding: 2px;
    /*width: 70%;*/
    float: left;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    color: white!important;
    word-break: keep-all!important;
}


.paragraph {
    word-break: break-all;
}

.ask {
    border:1px solid #F05B55!important;
    color: white!important;
    margin-left: 10px!important;
    background-color: #FF6E6C!important;
}

.weui_tab_nav .weui_nav_green.bg_green {
    /*background-color: #61CBCB!important;*/

}

.tw{
    font-size: 12px!important;
    background-color: #FF6E6C!important;
    margin-top: -5px!important;
    border-radius: 0px!important;
    padding: 0px;
    line-height: 20px;
    border-radius: 0px 0px 4px 4px!important;
    border: solid 1px #F05B55;
}

.btn_icon{
    height: 20px;
    margin-right: 6px;
}

.btn_icon_sm{
    height: 12px;
}


.weui_grid_icon2 {
    text-align: center;
    font-size: 14px;
}
.weui_grid_label{
    font-size: 14px;
}
.weui_btn_primary:not(.weui_btn_disabled):active{
    background-color: #18b4ed!important;
}




.r_click_area{
    margin-top: 25px;
}

.r_btn {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
    /*line-height: 100px;*/
    border-radius: 100px;
    text-align: center;
    color: white;
    font-size: 14px;
}
.r_btn_left{
    border: 2px solid #35BDB8;
    color: #35BDB8;
    margin-right: 10px;
}
.r_btn_right{
    border: 2px solid #F05B55;
    color: #F05B55;
    margin-left:10px;
}
.r_btn img {
    width: 20px;
    margin-top: 20px;
}
.r_btn span{
}
.r_btn_left_hover{
    background-color: #00908E;
    color: white!important;
}
.r_btn_right_hover{
    background-color: #F05B55;
    color: white!important;
}


img { pointer-events: none; }